@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Qwitcher+Grypen:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@500&display=swap');

body {
  margin: 0;
}

.homehero{
  background-image: url('../assets/sssurf (3).svg');
  background-size: cover;
}

.work{
  background-image: url('../assets/sssurf (6).svg');
  background-size: cover;
}


.aboutimg{
  transform: rotate(2deg);
}


.sidebar{
  transform: rotate(90deg);
  bottom: 0vh;
  right: 0;
  padding-bottom: 3.5vw;
}

.sidebarsocials{
  transform: rotate(-90deg);
}

.link {
  position: relative;
}

.link::before {
  position: absolute;
  content: "";
  width: 0%;
  height: 3px;
  bottom: -3px;
  left: 0;
  background-color: #e3ec63;
  visibility: hidden;
  transition: all .2s ease-in-out;
}

.link:hover:before {
  visibility: visible;
  width: 100%;
}




@media (max-width: 1000px){

  .homehero{
    background-image: none;
  }
  .about{
    background-image: none;
  }
  .aboutimg{
    display: none;
  }
}


@media (max-width: 1000px){

  .homehero{
    background-image: none;
  }
  .about{
    background-image: none;
  }
}

@media (max-width: 640px){

  .heroyellow{
    font-size: 2.4rem;
  }
  .buttons{
    display: block;
    width: 80%;
  }
}

@media (max-width: 500px){

  .heroname{
    font-size: 1.6rem;
  }
  .heroyellow{
    font-size: 2rem;
  }
  .herocontent{
    margin-left: 3vw;
  }
  .abouthr{
    display: none;
  }
  .homehr{
    display: none;
  }
}
