@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Qwitcher+Grypen:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');


body {
  margin: 0;
  background-color: rgb(19, 19, 19);
}

.homehero{
  background-image: url('../assets/wave\ \(13\).svg');
  background-size: cover;
  background-position: 29vw 200vh;
}

.work{
  background-image: url('../assets/sssurf (6).svg');
  background-size: cover;
}


.aboutimg{
  transform: rotate(2deg);
}


.sidebar{
  transform: rotate(90deg);
  bottom: 0vh;
  right: 0;
  padding-bottom: 3.5vw;
}

.sidebarsocials{
  transform: rotate(-90deg);
}

.link {
  position: relative;
}

.link::before {
  position: absolute;
  content: "";
  width: 0%;
  height: 3px;
  bottom: -3px;
  left: 0;
  background-color: #e3ec63;
  visibility: hidden;
  transition: all .2s ease-in-out;
}

.link:hover:before {
  visibility: visible;
  width: 100%;
}



@media (max-width: 1350px){

  .bgtext{
    display: none;
  }
 
}


@media (max-width: 1050px){

  .about{
    background-image: none;
  }
  .aboutimg{
    display: none;
  }
  .forbiddenmp4{
    display: none;
  }
  .halvatsivut{
    display: none;
  }
  .sidebar{
    display: none;
  }
}

@media (max-width: 900px) {
  .homehero{
    background-image: none;
  }
  
}

@media (max-width: 640px){
  

  .buttons{
    display: block;
    width: 80%;
  }
  .herocontent{
    margin-left: 5vw;
  }
}

@media (max-width: 520px){

  .heroname{
    font-size: 1.6rem;
  }
  .abouthr{
    display: none;
  }
  .homehr{
    display: none;
  }
}

@media (max-width: 370px){

  .heroyellow{
    font-size: 1.80rem;
  }

  .herocontent{
    margin-left: 5vw;
  }

  .herobuttons{
    display: block;
  }
}

@media (max-width: 300px){

  .heroyellow{
    font-size: 1.4rem;
  }

}

